<div class="data-form">
  <form action="/courses/create" method="POST">
    <h2>Create new course</h2>
    <label for="inputCorseTitle">Course title</label>
    <input type="text" name="title" id="inputTitle" placeholder="Title" autofocus>
    <hr>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" placeholder="Description" autofocus required>
    <hr>
    <label for="inputMaxStudents">MaxStudents</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" placeholder="Max Students" autofocus>
    <hr>
    <button type="submit">コース登録</button>
  </form>
</div>