<div class="data-form">
  <form method="POST" action="<%= `/subscribers/${subscriber._id}/update?_method=PUT` %>">
    <h2>Edit subscriber:</h2>
    <label for="inputName">First Name</label>
    <input type="text" name="name" id="inputName" placeholder="First" value="<%= subscriber.name %>" autofocus>
    <hr>
    <label for="inputEmail">Email</label>
    <input type="text" name="email" id="inputEmail" placeholder="Email Adress" value="<%= subscriber.email %>" autofocus required>
    <hr>
    <label for="inputZipCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" placeholder="Zip Code" value="<%= subscriber.zipCode %>" autofocus>
    <hr>
    <button type="submit">Update</button>
  </form>
</div>