<div class="data-form">
  <form action="/subscribers/create" method="POST">
    <h2>Create new subscriber</h2>
    <label for="inputName">Name</label>
    <input type="text" name="name" id="inputName" placeholder="Name" autofocus>
    <hr>
    <label for="inputEmail">Email</label>
    <input type="text" name="email" id="inputEmail" placeholder="Email Adress" autofocus required>
    <hr>
    <label for="inputZioCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZioCode" placeholder="Zip Code" autofocus>
    <hr>
    <button type="submit">サブスク登録</button>
  </form>
</div>